# ODI Cricket Prdiction Of India-2

In [115]:
import numpy as np 
import pandas as pd

In [116]:
matches=pd.read_csv('India_matches.csv')
matches.head()

,Unnamed: 0,Unnamed: 0.1,Scorecard,Team 1,Team 2,Ground,Match Date,Winner,Host_Country,Venue_Team1,Venue_Team2,Innings_Team1,Innings_Team2,year,Day,Margin,Victory
0,24,24,ODI # 28,India,New Zealand,Manchester,1975-06-14,New Zealand,England,Neutral,Neutral,First,Second,1975,Saturday,4 wickets,batting second
1,55,56,ODI # 61,India,West Indies,Birmingham,1979-06-09,West Indies,England,Neutral,Neutral,First,Second,1979,Saturday,9 wickets,batting second
2,59,60,ODI # 65,India,New Zealand,Leeds,1979-06-13,New Zealand,England,Neutral,Neutral,First,Second,1979,Wednesday,8 wickets,batting second
3,62,63,ODI # 68,India,Sri Lanka,Manchester,1979-06-16,Sri Lanka,England,Neutral,Neutral,Second,First,1979,Saturday,47 runs,batting first
4,93,94,ODI # 99,India,New Zealand,Perth,1980-12-09,India,Australia,Neutral,Neutral,First,Second,1980,Tuesday,5 runs,batting first

In [117]:
matches.Winner.unique()

array(['New Zealand', 'West Indies', 'Sri Lanka', 'India', 'England',
       'Australia', 'Pakistan', 'South Africa', 'Zimbabwe', 'Kenya',
       'Bangladesh'], dtype=object)

In [118]:
matches.replace(['India','Australia','New Zealand','Sri Lanka','West Indies',
                 'South Africa','Bangladesh','England','Pakistan',
                 'Zimbabwe','Kenya','Afghanistan','Hong Kong','Scotland','Ireland','Bermuda','Namibia','Netherlands','U.A.E.','Malaysia','Canada','East Africa']
                ,['Ind','Aus','NZ','SL','WI','SA','Ban','Eng','Pak','Zim','Ken','Afg','HK','Sco','Ire','Ber','Nam','Net','Uae','Mal','can','Ea'],inplace=True)

TeamCode = {'Team 1': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Team 2': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Host_Country': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22},
          'Winner': {'Ind':1,'Aus':2,'NZ':3,'SL':4,'WI':5,'SA':6,'Ban':7,'Eng':8,'Pak':9,'Zim':10,'Ken':11,'Afg':12,'HK':13,'Sco':14,'Ire':15,'Ber':16,'Nam':17,'Net':18,'Uae':19,'Mal':20,'can':21,'Ea':22}}
matches.replace(TeamCode, inplace=True)
matches.head(2)

,Unnamed: 0,Unnamed: 0.1,Scorecard,Team 1,Team 2,Ground,Match Date,Winner,Host_Country,Venue_Team1,Venue_Team2,Innings_Team1,Innings_Team2,year,Day,Margin,Victory
0,24,24,ODI # 28,1,3,Manchester,1975-06-14,3,8,Neutral,Neutral,First,Second,1975,Saturday,4 wickets,batting second
1,55,56,ODI # 61,1,5,Birmingham,1979-06-09,5,8,Neutral,Neutral,First,Second,1979,Saturday,9 wickets,batting second

In [119]:
dicVal = TeamCode['Winner']
print(dicVal['Ind']) #print value from key
print(list(dicVal.keys())[list(dicVal.values()).index(5)])#find key by value
print(dicVal)

1
WI
{'Ind': 1, 'Aus': 2, 'NZ': 3, 'SL': 4, 'WI': 5, 'SA': 6, 'Ban': 7, 'Eng': 8, 'Pak': 9, 'Zim': 10, 'Ken': 11, 'Afg': 12, 'HK': 13, 'Sco': 14, 'Ire': 15, 'Ber': 16, 'Nam': 17, 'Net': 18, 'Uae': 19, 'Mal': 20, 'can': 21, 'Ea': 22}

In [120]:
matches = matches[['Team 1','Team 2','Ground','Day','Host_Country','Winner']]
#we tool only the columns which are relevant to the outcome i.e winner
matches.head(2)

   Team 1  Team 2      Ground       Day  Host_Country  Winner
0       1       3  Manchester  Saturday             8       3
1       1       5  Birmingham  Saturday             8       5

In [121]:
df = pd.DataFrame(matches)
df.describe()

       Team 1      Team 2  Host_Country      Winner
count   855.0  855.000000    855.000000  855.000000
mean      1.0    5.873684      5.559064    3.029240
std       0.0    3.001631      5.747494    2.810625
min       1.0    2.000000      1.000000    1.000000
25%       1.0    4.000000      1.000000    1.000000
50%       1.0    5.000000      4.000000    1.000000
75%       1.0    8.000000      8.000000    5.000000
max       1.0   22.000000     21.000000   11.000000

In [122]:
df.dtypes

Team 1           int64
Team 2           int64
Ground          object
Day             object
Host_Country     int64
Winner           int64
dtype: object

In [123]:
from sklearn.preprocessing import LabelEncoder #using label encoder on our categorical data which is 'ground' and 'day'
var_mod = ['Ground','Day']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df.dtypes

Team 1          int64
Team 2          int64
Ground          int64
Day             int64
Host_Country    int64
Winner          int64
dtype: object

In [124]:
#building models to find the winner(Classification)-1)Logistic 2)RandomForest
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   #K-fold cross validation
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

#classification models and finding their performance:
def classification_model(model, data, predictors, outcome):
  model.fit(data[predictors],data[outcome])
  
  predictions = model.predict(data[predictors])
  
  accuracy = metrics.accuracy_score(predictions,data[outcome])
  print('Accuracy : %s' % '{0:.3%}'.format(accuracy))

  kf = KFold(data.shape[0], n_folds=5)
  error = []
  for train, test in kf:
    train_predictors = (data[predictors].iloc[train,:])
    
    train_target = data[outcome].iloc[train]
    
    model.fit(train_predictors, train_target)
    
    error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
  print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

  model.fit(data[predictors],data[outcome])

In [125]:
#1-Logistic Regression

outcome_var=['Winner']
predictor_var = ['Team 1','Team 2','Ground','Day','Host_Country']
model = LogisticRegression()
classification_model(model, df,predictor_var,outcome_var)

C:\ProgramData\Anaconda\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy : 56.725%
Cross-Validation Score : 55.673%

In [127]:
#2-RandomForest 

model = RandomForestClassifier(n_estimators=100)
outcome_var=['Winner']
predictor_var = ['Team 1','Team 2','Ground','Day','Host_Country']
classification_model(model, df,predictor_var,outcome_var)

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:10: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # Remove the CWD from sys.path while we load stuff.

Accuracy : 90.526%

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:24: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Cross-Validation Score : 54.503%

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:30: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [128]:
# Let's Start our prediction with Ind Vs Aus (Quiet a rivalry)
team1='Ind'
team2='Aus'
input=[dicVal[team1],dicVal[team2],'1','2','1']
input = np.array(input).reshape((1, -1))
output=model.predict(input)
print(list(dicVal.keys())[list(dicVal.values()).index(output)])#finding key i.e team name from value

Ind

In [129]:
#feature Importance
imp_input = pd.Series(model.feature_importances_, index=predictor_var).sort_values(ascending=False)
print(imp_input*100)

Team 2          38.152993
Ground          28.529618
Day             19.844842
Host_Country    13.472547
Team 1           0.000000
dtype: float64

###### Ground>Day>HostCountry for winning